<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>338568832170-l3kubaqf6dn95c8kohti4hf40riclq3s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.338568832170-l3kubaqf6dn95c8kohti4hf40riclq3s</string>
	<key>API_KEY</key>
	<string>AIzaSyDcaAK6YOLeCmAvN3QvYJo0ermu3ZkkeyE</string>
	<key>GCM_SENDER_ID</key>
	<string>338568832170</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.hseidek.socialApplication</string>
	<key>PROJECT_ID</key>
	<string>social-application-29023</string>
	<key>STORAGE_BUCKET</key>
	<string>social-application-29023.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:338568832170:ios:b3433dbc1d945a62d2dcd3</string>
</dict>
</plist>